    body {
        background-color: #e2e2e2;
        font-size: .8em;
        line-height: 150%;
        font-family: sans-serif;
    }
    /*
body:hover {
    display: none;
}
*/
    
    .toggle {
        padding: 1em;
        max-width: 20%;
        background-color: white;
        /*    height: 100%;*/
        z-index: 900000000000 !important;
        position: absolute;
        display: none;
        position: absolute;
        top: 50px;
        left: 50px;
        max-height: 500px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
    }