body {}

img {
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
    display: block;
}

.grid-item {
    width: 16.66666666666667%;
    float: left;
    overflow: auto;
    box-sizing: border-box;
}