                         body {
                             color: #383838;
                             margin: 0 auto;
                             font-family: sans-serif;
                             line-height: 120%;
                             font-family: 'Roboto', sans-serif;
                             font-size: 90%;
                         }
                         
                         header {}
                         
                         h1,
                         h2,
                         h3,
                         h4,
                         h5,
                         h6 {
                             font-weight: 700;
                             margin-bottom: .3em;
                         }
                         
                         header {
                             margin-top: 2em;
                         }
                         
                         a {
                             color: #454545;
                             text-decoration: none;
                         }
                         
                         h1 a:hover {}
                         
                         #main-logo {}
                         
                         img,
                         h1 {
                             max-width: 100%;
                             display: block;
                             margin: 0 auto;
                             text-align: center;
                         }
                         
                         h1 {
                             font-size: 3em;
                             line-height: 2em;
                         }
                         
                         #imagery {
                             overflow: auto;
                         }
                         
                         ul {}
                         
                         li {
                             padding: .1em 0;
                         }
                         
                         #founders-container,
                         #social-container,
                         #features-container,
                         #shop-details {
                             padding: 1em;
                             border-bottom: solid 1px grey;
                         }
                         
                         #social li {}
                         
                         #social li {
                             display: inline-block;
                             padding-right: 1em;
                         }
                         
                         #founders {
                             border-bottom: none;
                             background-color: #3b3a3a;
                             color: white;
                             padding: 3em;
                         }
                         
                         #shop-details {
                             font-size: 2em;
                             line-height: 1em;
                             padding-left: .5em;
                             font-style: italic;
                         }
                         
                         #features {}
                         
                         #features li {
                             list-style: none !important;
                         }
                         
                         i {}
                         
                         #features i {
                             padding-left: .2em;
                         }
                         
                         #founders-container {
                             border: none;
                         }
                         
                         #buy a {
                             margin-top: .5em;
                             font-size: 2em;
                             border: solid 1px grey;
                             display: inline-block;
                             padding: .5em;
                         }
                         
                         #features #buy a:hover {
                             background-color: black;
                             color: white;
                         }
                         
                         @media screen and (min-width: 480px) {
                             body {}
                             .col-1,
                             .col-2,
                             .col-3 {
                                 float: left;
                                 width: 33.3333333%;
                                 display: inline-block;
                             }
                             #imagery {
                                 border-top: solid 3px black;
                             }
                             #features {
                                 overflow: auto;
                             }
                             #features-container {
                                 overflow: auto;
                                 border: none;
                             }
                             #shop-details {
                                 box-sizing: border-box;
                                 width: 40%;
                                 overflow: auto;
                                 padding-left: 0;
                             }
                             #shop img {
                                 box-sizing: border-box;
                                 width: 60%;
                                 float: left;
                             }
                             #social-container {
                                 clear: both;
                                 text-align: center;
                             }
                             #shop-container {
                                 max-width: 50em;
                                 overflow: auto;
                                 margin: 0 auto;
                             }
                             #founders {
                                 text-align: center;
                             }
                         }