body {
    font-family: 'Quantico', sans-serif;
    line-height: 150%;
    color: grey;
    padding: 1em;
}

main {
    font-size: 1.5em;
    line-height: 160%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: .7em;
    text-transform: uppercase;
    margin-bottom: .5em;
    color: #2260d1;
}

nav li a,
h1 a {
    padding: .5em;
    display: block;
    border-bottom: solid 1px #aaaaaa;
}

nav {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}

h1 a:hover,
a:hover {
    color: #2260d1;
}

nav a:hover {
    background-color: #2260d1;
    color: white;
}

img {
    max-width: 100%;
}

@media screen and (min-width: 40em) {
    body {
        max-width: 45em;
        margin: 0 auto;
    }
    nav li a {
        float: left;
        width: 25%;
        box-sizing: border-box;
    }
    nav {
        clear: both;
        overflow: auto;
    }
}